@mixin flex($ratio) {
  -webkit-flex: $ratio;
     -moz-flex: $ratio;
      -ms-flex: $ratio;
          flex: $ratio;
}

body {
  margin:0;
  font: 13px Helvetica, Arial;
}

p {
  margin: .2rem 0;
}

canvas {
  border: 1px solid red;
  @include flex(0 0 100%);
}


#chatheader {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background: #eee;
}

.header_user {
  border: 1px solid #ccc;
  padding: 4px;
}

#chatmessages {
  position: fixed;
  overflow-y: scroll;
  top: 120px;
  bottom: 80px;
  width: 100%;
  background: #fff;
}

.message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 1rem;

  .message_data {
    @include flex(0 0 80%);
    display: flex;
    flex-direction: row-reverse;
    padding-left: 1rem;
    flex-wrap: wrap;
    
    .message_user_name {
      order: 1;
      font-weight: 700;
      @include flex(0 0 20%);
    }
    
    .message_time {
      order: 0;
      @include flex(0 0 80%);
    }
    
    .message_content {
      @include flex(0 0 100%);
      order: 1;
    }
    
    .message_canvas {
      @include flex(0 0 100%);
      order: 1;
    }
  }
  
  .message_user_photo {
    @include flex(0 0 20%);
    text-align: center;
  }
}

#chatinput {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #eee;
}
