body {
    margin:0;
    font: 13px Helvetica, Arial; 
}

canvas {
    /* background-color:#d3d3d3; */
    border: 1px solid red;
}


#chatheader {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    background: #eee;
}

.user {
    border: 1px solid #ccc;
    padding: 4px;
}

#chatmessages {
    position: fixed;
    overflow-y: scroll;
    top: 120px;
    bottom: 80px;
    width: 100%;
    background: #fff;
}

#chatinput {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #eee;
}
